{
    "Servers": {
        "1": {
            "Name": "{{ project_name }}-pgduckdb",
            "Group": "Servers",
            "Host": "pgduckdb",
            "Port": 5432,
            "MaintenanceDB": "postgres",
            "Username": "postgres",
            "PassFile": "/pgadmin4/pgpass",
            "SSLMode": "prefer"
        }
    }
}
